#name_column {
    background-color: #6371a5; 
}

#cv-foto {
    max-width: 100%;
    height: auto;
}

.copyable {
    user-select: all;
}
  
.copyable::selection {
    background-color: rgb(154, 193, 223);
}   

